

.page-btn{
    min-width: 100px;
    margin: 5px 0;
    color: #fff;
    border:1px #1ab394 solid;
    background: #1ab394;
    padding: 8px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 10000;
}

.pop-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pop-box{
    z-index: 1001;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    min-height: 200px;
    background: #f3f3f4;
    color: #676a6c;
    font-size: 14px;
    padding: 20px;
}
.pop-box h2{
    margin: 0;
    color: #676a6c;
    font-size: 16px;
    line-height: normal;
}
.pop-box .close{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    cursor: pointer;
}


.pop-box .top-h2{
    padding: 15px;
    background: #fff;
    margin: 0 0 5px 0;
}
.cv-main{
    padding: 30px;
    background: #fff;
    min-width: 800px;
}
.cv-main h2{
    padding:10px;
    margin-bottom: 2px;
}
.fx{
    display: flex;
    -webkit-display: flex;
}
.user-avatar{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    min-width: 80px;
}
.user-avatar{
    width: auto;
}
.cv-box{
    min-width: 600px;

}
.baseinfo{
    display: inline-block;
    vertical-align: top;
    min-width: 800px;
}
.w50{
    width: 50%;
    min-width: 200px;
    display: inline-block;
}
.baseinfo p{
    margin: 8px 0;
}
.baseinfo p img{
    vertical-align: middle;
}