<div class="pop-bg"></div>
<div class="pop-box">
    <i class="close">×</i>
    <div>
        <h2 class="top-h2">中文简历</h2>
        <div class="cv-main fx">
            <div class="user-avatar">
                <img src="{{baseinfo.avatar}}" class="">
            </div>

            <div class="cv-box baseinfo">
                <p><h2>{{baseinfo.name}}</h2></p>
                <p>英文名：{{}}</p>
                <p>手机：{{baseinfo.celphone}}</p>
                <p>Email：{{baseinfo.email}}</p>
                <p>工作年限：{{baseinfo.startwork}}</p>
                <p>
                    <span class="w50">性别：{{baseinfo.gender}}</span>
                    婚姻状况：{{baseinfo.wedlock}}
                </p>
                <p>
                    <span class="w50">生日：{{baseinfo.birthyear}}</span>
                    目前地点：{{baseinfo.city}}{{baseinfo.provice}}
                </p>
                <p>目前公司：{{current.currentcompeny}}</p>
                <p>目前岗位：{{current.currentposition}}</p>
                <p>
                    <span class="w50">目前年薪：{{current.currentsalary}}</span>
                    期望年薪：
                </p>
                <p>
                    <span class="w50">最高学历：{{baseinfo.degree}}</span>
                    毕业学校：{{educationbackground ? educationbackground[0].university : ''}}
                </p>
                <p>
                    猎聘ID：{{refid}}
                </p>
                <p>
                    薪资结构：
                </p>
            </div>
        </div>
        <div class="cv-main">
            <h2>工作经验</h2>
            {{if workexperience && workexperience.length>0}}
            {{each workexperience as w}}
            <div class="cv-box fx">
                <div class="box-time">
                    {{w.startyear}}.{{w.startmonth}} - {{w.endyear}}.{{w.endmonth}}
                    <div class="tag">{{w.endyearNum-w.startyear}}年</div>
                </div>
                <div class="text">
                    <b>{{w.comName}}</b>

                    {{w.companyindustry}}
                    <p>
                        {{w.info}}
                    </p>
                    {{each w.position as p}}
                        <div class="job-p">
                            <b class="jobTitle">{{p.jobTitle}} <span class="n"></span></b>
                            <div class="fx">
                                <span>工作职责：</span>
                                <span>{{p.responsible}}</span>
                            </div>
                            <div class="fx">
                                <span>工作业绩：</span>
                                <span>{{p.performance}}</span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
            {{else}}
                {{workexperienceText}}
            {{/if}}
        </div>
        <div class="cv-main">
            <h2>项目经验</h2>
            {{if projectexperience && projectexperience.length>0}}
                {{each projectexperience as p}}
                    <div class="cv-box ">
                        <b>{{p.projectname}}
                            <div class="right-time">
                                {{p.startyear}}.{{p.startmonth}} - {{p.endyear}}.{{p.endmonth}}
                            </div>
                        </b>
                        <div class="fx">
                            <label>项目职务：</label>
                            <div>{{p.projectposition}}</div>
                        </div>
                        <div class="fx">
                            <label>所在公司：</label>
                            <div>{{p.company}}</div>
                        </div>
                        <div class="fx">
                            <label>项目简介：</label>
                            <div>{{p.projectdesc}}</div>
                        </div>
                        <div class="fx">
                            <label>项目职责：</label>
                            <div>{{p.responsible}}</div>
                        </div>
                        <div class="fx">
                            <label>项目业绩：</label>
                            <div>{{p.performance}}</div>
                        </div>
                    </div>
                {{/each}}
            {{else}}

            {{/if}}
        </div>
        <div class="cv-main">
            <h2>教育经历</h2>
            {{if educationbackground && educationbackground.length>0}}
            {{each educationbackground as e}}
            <div class="cv-box ">
                <b>{{e.university}}({{e.startyear}}.{{e.startmonth}} - {{e.endyear}}.{{e.endmonth}})
                </b>
                <div class="fx">
                    <div class="flex-3">专业：{{e.specialty}}</div>
                    <div class="flex-3">学历：{{e.education}}</div>
                    <div class="flex-3">是否统招：{{e.isUnify}}</div>
                </div>
            </div>
            {{/each}}
            {{else}}

            {{/if}}
        </div>
        <div class="cv-main">
            <h2>语言能力</h2>
            <div class="cv-box ">
                {{if language && language.length>0}}
                {{each language as l}}

                    {{l}}、

                {{/each}}

                {{else}}

                {{/if}}
            </div>
        </div>
        <div class="cv-main">
            <h2>自我评价</h2>
            <div class="cv-box ">
                {{if selfintrduction}}
                    {{selfintrduction}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="save-box">
        <input class="save-btn" id="saveBtn" value="保存" type="button">
    </div>
</div>

<script>
    $(function(){
        $('.close').on('click',function(){
            $('.pop-box').hide();
            $('.pop-bg').hide();
        })
    })
</script>